<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="DICOMServer" value="fripacs01"/>
		<add key="DICOMQueryPort" value="7840"/>
		<add key="DICOMStoragePort" value="7810"/>
		<add key="DICOMLocalAET" value="Scan2DICOM"/>
		<add key="DICOMRemoteQueryAET" value="DICOM_QR_SCP"/>
		<add key="DICOMRemoteStoreAET" value="DICOM_STORAGE"/>
		<add key="dcmtkPath" value="C:\pc_inst\TestSCU\dcmtk\bin"/>
	</appSettings>
</configuration>
